/*Artists*/

.ui {
  margin: 0 auto;
}

.ui.circular.image {
  justify-content: flex-end;
}
.ui > .image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.ui.circular.image > .content {
  position: absolute;
  right: 1%;
  left: 1%;
}

.ui > .content > .header {
  color: #6400f7;
}
.ui.circular .meta {
  color: rgba(128, 0, 255, 0.4);
}

.ui.circular.image {
  transition: transform 0.3s;
}

.ui.circular.image:hover {
  transform: scale(1.09);
}
