/*Hero*/

/* .ui.secondary.inverted.pointing.menu {
  border-width:0px;
  border-bottom-width: 4px !important;
  border-color: rgb(232 165 241 / 96%);
  
} */

.ui.secondary.inverted.pointing.menu{
  border: none;
}

.ui.grid{
  margin-top: 20vh;
}

.videoTag{
  height: 100%;
  width: 100%;
  /* float: left; */
  top: 0;
  padding: 0 !important;
  position: fixed; 
  object-fit: cover;
}


.ui.segment.hero {
  height: 120vh;
  min-height: 56rem;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), #0a0b0d);
  /* background-attachment: fixed; */
}
.ui.hero .text-header {
  font-size: 2em;
  /* font-weight: normal; */
  margin-bottom: 0;
  /* margin-top: 2.5em; */
}

.ui.hero .text-subhead {
  font-size: 1.5em;
  font-weight: normal;
  /* margin-top: 0.5em; */
}

.ui.statistics.countdown {
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 3em;
}

@media (max-width: 768px) {
  .ui.statistics.countdown .value {
    font-size: 2em !important;
  }
}

@media (min-width: 768px) {
  .ui.hero .text-header {
    font-size: 4em;
    /* margin-top: 3em; */
  }
  .ui.hero .text-subhead {
    font-size: 1.7em;
    /* margin-top: 0.5em; */
  }

  /* .hero .ui.huge.primary.button {
    margin-top: 5em;
  } */

  .ui.statistics.countdown {
    margin-top: 5em;
    margin-bottom: 3em;
  }
}


img.ui.tiny.image {
  margin: 0px;
}

.ui.large.inverted.pointing.secondary.menu > .ui.container > .right.item > .ui.centered.grid.menuheader a{
  color: #ffffff !important;
}

/* @media (max-width: 1200px) {
  .ui.large.inverted.pointing.secondary.menu > .ui.container > .right.item > .ui.centered.grid.menuheader {
    display: none;
  }
} */


.navbar-dark .navbar-nav .nav-link{
  color: #ffffff !important;
}