.ui.segment.hero {
  height: 100vh;
  min-height: 36rem;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-9/97282217_680812072482089_4046525634317385728_o.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=RoBdbLlYMBAAX9uBb7h&_nc_ht=scontent.fsgn2-6.fna&oh=ff8e59c4f760a9c8f890d2fc81a67158&oe=5F8448CB");
  background-attachment: fixed;
}
.ui.hero .text-header {
  font-size: 2em;
  /* font-weight: normal; */
  margin-bottom: 0;
  /* margin-top: 2.5em; */
}

.ui.hero .text-subhead {
  font-size: 1.5em;
  font-weight: normal;
  /* margin-top: 0.5em; */
}

.ui.statistics.countdown {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

@media (max-width: 768px) {
  .ui.statistics.countdown .value {
    font-size: 2em !important;
  }
}

@media (min-width: 768px) {
  .ui.hero .text-header {
    font-size: 4em;
    /* margin-top: 3em; */
  }
  .ui.hero .text-subhead {
    font-size: 1.7em;
    /* margin-top: 0.5em; */
  }

  /* .hero .ui.huge.primary.button {
    margin-top: 5em;
  } */

  .ui.statistics.countdown {
    margin-top: 5em;
    margin-bottom: 3em;
  }
}
