.ui.header.section-header {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0em;
}

.ui.horizontal.divider{
 color: #700eff !important;
}

.ui.very.padded.segment {
  padding: 5em 0 !important;
}
