/*App*/

.ui.header.section-header {
  font-size: 3vh;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0em;
}

.ui.horizontal.divider{
 color: #de305d !important;
}

.ui.very.padded.segment {
  padding: 5em 0 !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment{
  background: none;
}

.videoTag{
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0 !important;
  position: absolute; 
  object-fit: cover;
}