*:not(.icon) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*scrollbar*/
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #dd305d;
  outline: 1px solid slategrey;
}

/* #root{
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-9/97282217_680812072482089_4046525634317385728_o.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=RoBdbLlYMBAAX9uBb7h&_nc_ht=scontent.fsgn2-6.fna&oh=ff8e59c4f760a9c8f890d2fc81a67158&oe=5F8448CB");
	background-attachment: fixed;
} */



